{# Template correspondiente al registro de candidatos #}

{% extends "base.html" %}

{% block title %}
HR ELECTIONS - {{ candidate.name }}
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>{{ candidate.name }} <small> {{ candidate.abbreviation }}</small></h1>
</div>
<div class="row">
    <div class="span7">
        <div class="thumbnail">
        {# Imagen #}
            <img src="{{ candidate.image }}">
        {# Descripción #}
            <div class="caption">
            {{ candidate.description|safe}}
            </div>
        </div>
    </div>
    <div class="span5">
        {# Comentarios #}
        {# Formulario de comentario #}
        {% if comment_mucho %}
        <div id="vote_well"class="alert alert-block alert-error fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <h4 class="alert-heading">Espérate un poco y luego sigues.</h4>
        </div>
        {% endif %}
        <form class="well" method="post" action="{% url candidate candidate.id %}">{% csrf_token %}
            {% if form.non_field_errors %}
            <div id="alert error" class="alert alert-block alert-error fade in">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="control-group{% if form.name.errors %} error{% endif %}">
                <label class="control-label" for="email">Nombre</label>
                <div class="controls">
                    {{ form.name }}
                    {% for error in form.name.errors %}
                    <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group{% if form.text.errors %} error{% endif %}">
                <label class="control-label" for="abbreviation">Comentario</label>
                <div class="controls">
                    {{ form.text }}
                    {% for error in form.text.errors %}
                    <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Comentar</button>
        </form>
        {# Número de comentarios #}
        <h3>{{ comments|length }} comentarios</h3>
        {% for comment in comments %}
        <div class="well">
        <h4>{{ comment.name }} dice:</h4>
        <div class="comment_text">
        {{ comment.text|safe }}
        </div>
        <span class="dateformat">{{ comment.published_at }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
{% endblock %}
