{# Template correspondiente al registro de candidatos #}

{% extends "base.html" %}

{% block title %}
HR ELECTIONS - ¡¡¡¡TITULO DEL CANDIDATO!!!!
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>NOMBRE DEL CANDIDATO <small> Siglas</small></h1>
</div>
<div class="row">
    <div class="span8">
        {# Imagen #}
        {# Descripción #}
    </div>
    <div class="span4">
        {# Comentarios #}
        {# Formulario de comentario #}
        <form class="well">
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="abbreviation">Comentario</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="description" rows="3"></textarea>
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Comentar</button>
        </form>
        {# Número de comentarios #}
        {# FOR CON LOS COMENTARIOS #}
    </div>
</div>
{% endblock %}
