{# Template correspondiente al registro de candidatos #}

{% extends "base.html" %}

{% block title %}
HR ELECTIONS - ¡¡¡¡TITULO DEL CANDIDATO!!!!
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>{{ candidate.name }} <small> {{ candidate.abbreviation }}</small></h1>
</div>
<div class="row">
    <div class="span8">
        <div class="thumbnail">
        {# Imagen #}
            <img src="{{ candidate.image }}">
        {# Descripción #}
            <div class="caption">
            {{ candidate.description}}
            </div>
        </div>
    </div>
    <div class="span4">
        {# Comentarios #}
        {# Formulario de comentario #}
        <form class="well" method="post" action="/candidate/">
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{ form.name }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="abbreviation">Comentario</label>
                <div class="controls">
                    {{ form.text }}
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Comentar</button>
        </form>
        {# Número de comentarios #}
        {{ comments.length }}
        {% for comment in comments %}
        {% endfor %}
    </div>
</div>
{% endblock %}
