{# Template correspondiente a la home de la web #}

{% extends "base.html" %}

{% block title %}
HR ELECTIONS - Vota a tu candidato
{% endblock %}

{% block includes %}
<link rel="alternate" title="Últimas candidaturas" type="application/rss+xml" href="{{ host }}/rss/candidates/" />
{% endblock %}
{% block content %}
<header class="head">
<h1>Elecciones #HermandadRobot</h1>
</header>
<div class="row">
    {# Parte superior #}
    {% if not user.is_authenticated %}
    <div id="vote_well"class="alert alert-block alert-info fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Presenta tu candidatura. Date a conocer, regístrate y publica tu candidatura para liderar la #HermandadRobot</h4>
    </div>
    {% endif %}
    {% if registered %}
    <div id="vote_well"class="alert alert-block alert-info fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Registrado correctamente. Haz Login para entrar.</h4>
    </div>
    {% endif %}
    {% if not vote_well %}
    <div id="vote_well"class="alert alert-block alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">¡Vota bien! No te inventes cosas</h4>
    </div>
    {% endif %}
    {% if vote_success %}
    <div id="vote_well"class="alert alert-block alert-success fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Has votado correctamente</h4>
    </div>
    {% endif %}

    <div class="span8">
        {# Carousel #}
        <div id="carou" class="carousel slide">
            {% include "slide2.html" %}
        </div>
        
    </div>
    <div class="span4">
        <h2>HR ELECTIONS</h2>
        {% if False %}
        <p>Porque todo conlleva un cambio... o no.</p><p>Porque las cosas cambian... o no.</p><p>Porque ahora tienes la oportunidad de tomar el mando... o de que te humillen para los restos</p>
        {% endif %}
        <p>Arranca la campaña y se empiezan a ver las primeras sorpresas: ve preparando la tuya.</p> 
        <p>Preséntate, vota y/o hackea la web para encumbrar a tu partido favorito</p>
        <p>Que luego no se diga.</p>
        
        <div id="social">
            <a title="Últimos candidatos" rel="nofollow" target="_blank" href="{{ host }}/rss/candidates/"><img src="{{ STATIC_URL }}rss.png" alt="Últimos candidatos"></a>
        <a rel="nofollow" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.hermandadrobot.com/"><img src="{{ STATIC_URL}}facebook.png" alt="fb_share_icon"></a>
        <a rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?url=http://www.hermandadrobot.com/&amp;text=Vota%20a%20tu%20favorito%20para%20líder%20de%20la%20HR&amp;hashtags=HRElections"><img src="{{ STATIC_URL }}twitter.png" alt="twitter_icon"></a>
        <div class="g-plusone"></div>
        </div>
    </div>
</div>
{# Tarjetitas con los candidatos #}
{# un for que pone una fila con dos span #}
<div class="row">
    <ul class="thumbnails">
    
    {% for candidate in candidates %}
    {% if forloop.counter|divisibleby:"3" %}
    <div class="row">
        {% endif %}
    <li class="span4">
        <div class="thumbnail">
        {# Thumbnail, titulo, estrellas y texto #}
            {# Imagen #}
            <a href="{% url candidate candidate.id %}"><img src="{{ candidate.image }}"></a>
            <div class="caption">
                {% if already_voted == candidate.id %}
                <span class="label label-important">Ya has votado.</span>
                {% else %}
                <fieldset class="rating">
                    <a title="5 estrellas" href="/?id={{ candidate.id }}&v=5">5 estrellas</a>
                    <a title="4 estrellas" href="/?id={{ candidate.id }}&v=4">4 estrellas</a>
                    <a title="3 estrellas" href="/?id={{ candidate.id }}&v=3">3 estrellas</a>
                    <a title="2 estrellas" href="/?id={{ candidate.id }}&v=2">2 estrellas</a>
                    <a title="1 estrella" href="/?id={{ candidate.id }}&v=1">1 estrella</a>
                </fieldset>
                {% endif %}
                <h4><a href="{% url candidate candidate.id %}">{{ candidate.name }}</a></h4>
            <p>{{ candidate.description|striptags|truncatewords:"20" }}</p>
            <p class="ranking"><span class="btn btn-success">{{ forloop.counter }}
            </span></p>
        </div>
    </li>
    {% if forloop.counter|divisibleby:"3" %}
    </div>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    {lang: 'es'}
</script>
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
