{# index web #}

{% extends "base.html" %}

{% block title %}
HR ELECTIONS - Vote your candidate
{% endblock %}

{% block includes %}
<link rel="alternate" title="Últimas candidaturas" type="application/rss+xml" href="{{ host }}/rss/candidates/" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-responsive.css" />
{% endblock %}
{% block content %}
<header class="head">
<h1>#HRElections</h1>
</header>
<div class="row">
    {# Top page #}
    {% if not user.is_authenticated %}
    <div id="vote_well"class="alert alert-block alert-info fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Just an alert message!</h4>
            <p>Publish your candidate!</p>
    </div>
    {% endif %}
    {% if registered %}
    <div id="vote_well"class="alert alert-block alert-info fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Registrado correctamente. Haz Login para entrar.</h4>
    </div>
    {% endif %}
    {% if not vote_well %}
    <div id="vote_well"class="alert alert-block alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">¡Vota bien! No te inventes cosas</h4>
    </div>
    {% endif %}
    {% if vote_success %}
    <div id="vote_well"class="alert alert-block alert-success fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Has votado correctamente</h4>
    </div>
    {% endif %}

    <div class="span8">
        {# Carousel #}
        <div id="carou" class="carousel slide">
            {% include "slide1.html" %}
        </div>
        
    </div>
    <div class="span4">
        <h2>HR ELECTIONS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo nulla in dolor faucibus semper. Praesent luctus, velit congue hendrerit lobortis, orci urna pulvinar orci, at eleifend dui felis eu eros. Fusce mattis porta dui, ac volutpat mi facilisis quis. Phasellus sit amet risus augue. Ut sagittis libero nisl. Mauris egestas dui ultrices sapien faucibus egestas blandit elit vehicula. Nullam at risus non sem condimentum adipiscing. Vestibulum ut porta odio. Mauris non orci in nibh bibendum dapibus vitae nec tortor. Phasellus at posuere lectus. In hac habitasse platea dictumst.</p> 
        <div id="social">
            <a title="Últimos candidatos" rel="nofollow" target="_blank" href="{{ host }}/rss/candidates/"><img src="{{ STATIC_URL }}rss.png" alt="Últimos candidatos"></a>
        <a rel="nofollow" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.hermandadrobot.com/"><img src="{{ STATIC_URL}}facebook.png" alt="fb_share_icon"></a>
        <a rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?url=http://www.hermandadrobot.com/&amp;text=Vota%20a%20tu%20favorito%20para%20líder%20de%20la%20HR&amp;hashtags=HRElections"><img src="{{ STATIC_URL }}twitter.png" alt="twitter_icon"></a>
        <div class="g-plusone"></div>
        </div>
    </div>
</div>
{# Candidate Thumbnails #}
<div class="row">
    <ul class="thumbnails">
    
    {% for candidate in candidates %}
    {% if forloop.counter|add:"2"|divisibleby:"3" %}
    <div class="row rowc">
        {% endif %}
    <li class="span4">
        <div class="thumbnail">
        {# Thumbnail, title, stars y text #}
            {# Imagen #}
            <a href="{% url candidate candidate.id %}"><img src="{{ candidate.image }}"></a>
            <div class="caption">
                {% if False %}
                    {% if already_voted == candidate.id %}
                    <span class="label label-important">Ya has votado.</span>
                    {% else %}
                    <fieldset class="rating">
                        <a title="5 estrellas" href="/?id={{ candidate.id }}&v=5">5 estrellas</a>
                        <a title="4 estrellas" href="/?id={{ candidate.id }}&v=4">4 estrellas</a>
                        <a title="3 estrellas" href="/?id={{ candidate.id }}&v=3">3 estrellas</a>
                        <a title="2 estrellas" href="/?id={{ candidate.id }}&v=2">2 estrellas</a>
                        <a title="1 estrella" href="/?id={{ candidate.id }}&v=1">1 estrella</a>
                    </fieldset>
                    {% endif %}
                {% endif %}
                <h4><a href="{% url candidate candidate.id %}">{{ candidate.name }}</a></h4>
            <p>{{ candidate.description|striptags|truncatewords:"20" }}</p>
            <p class="ranking"><span class="btn btn-success">{{ forloop.counter }}
            </span></p>
        </div>
    </li>
    {% if forloop.counter|divisibleby:"3" %}
    </div>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    {lang: 'es'}
</script>
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
