{# Template correspondiente al acceso de candidatos #}

{% extends "base.html" %}

{% block title %}
HR ELECTIONS - Acceso candidatos
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>Acceso Candidatos</h1>
</div>
<div class="row">
    <div class="span8">
        {# Formulario de acceso #}
        <form class="well" method="post" action="/login/">{% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{ form.user }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Contraseña</label>
                <div class="controls">
                    {{ form.password }}
                </div>
            </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <input type="hidden" name="next" value="{{ next }}" />

        </form>
    </div>
    <div class="span4">
        {# Text stuff #}
    </div>
</div>
{% endblock %}
