{# Template correspondiente al registro de candidatos #}

{% extends "base.html" %}

{% block title %}
HR ELECTIONS - Registro candidatos
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>Registro Candidatos</h1>
</div>
<div class="row">
    <div class="span8">
        {# Formulario de registro #}
        <form class="well" method="post" action="/register/">{% csrf_token %}
            {% if form.non_field_errors %}
            <div id="alert error" class="alert alert-block alert-error fade in">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="control-group{% if form.user.errors %} error{% endif %}">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{ form.user }}
                    {% for error in form.user.errors %}
                    <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group{% if form.password.errors %} error{% endif %}">
                <label class="control-label" for="password">Contraseña</label>
                <div class="controls">
                    {{ form.password }}
                    {% for error in form.password.errors %}
                    <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group{% if form.password_rep.errors %} error{% endif %}">
                <label class="control-label" for="password">Repetir Contraseña</label>
                <div class="controls">
                    {{ form.password_rep }}
                    {% for error in form.password_rep.errors %}
                    <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                </div>
            </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    <div class="span4">
        {# Text stuff #}
    </div>
</div>
{% endblock %}
