{% extends "base.html" %}

{% block title %}
HR ELECTIONS - Vota a tu candidato
{% endblock %}

{% block content %}
<header class="head">
<h1>Elecciones #HermandadRobot</h1>
</header>
<div class="row"> 
<div class="span8">
        <img id="portrait" src="{{ STATIC_URL }}soon.jpg">
    </div>
    <div class="span4">
        <h3>¡Abrimos esta semana!</h3>
        <p>Se acercan momentos importantes. La <b>#HermandadRobot</b> está de campaña electoral, esta semana se abrirá el proceso de registro de candidatos y pronto podrás votar al futuro líder. Atento...</p>
    </div>
</div>
{% endblock %}
