body {
    padding-top: 35px;
    background: url("//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png") repeat scroll 0 0 #EBEBEB;
}
.head{
    padding-top:25px;
    padding-bottom:25px;
}
.rowc{
    margin-bottom:20px;
}
.head h1{
    font-size:54px;
}

.thumbnail{
    background: #FFF;
}

.thumbnail img{
    height:163px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dateformat span{
    text-align:right;
}
.ranking{
    text-align: right;
}
.footer{
    margin-top: 20px;
}
/* RATING 
.rating {
    float:left;
}*/

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > a {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > a:before {
    content: '★ ';
}
/*
.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
    */

.rating:not(:checked) > a:hover,
.rating:not(:checked) > a:hover ~ a {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    text-decoration: none;
}
/*
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}*/

.rating > a:active {
    position:relative;
    top:2px;
    left:2px;
}

